.pagina-cabecalho{
    background-color: #dd3f3f;
    background-image: url("../img/cabecalho-pagina-bg.jpg");
    background-attachment: fixed;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

#menu-principal__lista{
    padding: 0;
    list-style: none;
    margin-left: 310px;
    background-color: #f00;
    list-style-type: none;
    width: 100%;
	position: absolute;
	float: left; 
	font-size: 20px;
}

.pagina-cabecalho__titulo{
    text-align: center;
    text-transform: uppercase;    
}

.pagina-cabecalho__titulo::after{
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}
.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;



}

.pagina-conteudo p{
    color: #3a3a3a;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-center{
    text-align: center;  
}
footer{
    clear: both;
}
#img{
    float: left;
}
#img2{
    float: left;
    height: 275px;

}